branches:
  only:
  - main
  - ocaml

dist: xenial

os:
  - osx
  - linux
  - freebsd

env:
  - OCAML_VERSION=4.10
    
language: rust

rust:
  - stable
  - beta
  - nightly

jobs:
  allow_failures:
    - rust: nightly
  fast_finish: true

cache: 
  - cargo
  - directories:
    - $HOME/.opam

before_install:
  - bash -ex .travis-ocaml.sh
  - opam install dune
  - (cd ocaml; opam pin add -y .)
